<div class="col-10 offset-1 about">
      <h1>About Spoontacular</h1>

 <p>
    This API integrated application was build by <a target="_blank" href="https://www.linkedin.com/in/megankyoungedtech/">Megan Young.</a> See also,<a target="_blank" href="https://github.com/Jadsia"> my nonsense Git. </a>
    Megan is a web dev who loves the immediate nature of coding and deployment. Give me your tired, your poor, your broken code.
  </p>
  <br />
  <p>
   Megan is a graduate of San Jose State University, Class of 2011. Expected graduation date for UC Berkeley Bootcamp, September 2019. This application is the capstone project of the Spring 2019 UC Berkeley Full Stack, Full Time Bootcamp, and uses Ruby on Rails for the back end.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Linkedinphoto.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Megan Young</h2>
      <br />
      <p>
        Megan Young is a student in the Spring 2019 UC Berkeley Bootcamp cohort. Prior, she worked in K-12 education for 6 years. She is experienced with operations, management, and compliance. She seeks out positions with a high impact on diverse teams, and is excited to work with you!
      </p>
    </div>
  </div>

  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

    </div>


