<h1> Results here! </h1>

<br />

<div class="card result-card" style="max-width: 18rem;">
  <div class="card-header">Conversion of Cups to Grams</div>
  <div class="card-body text-secondary">
    <p class="card-text"><%=  @results[:answer] %></p>
  </div>
