<h1> What's happening? Welcome to Spoontacular</h1>
<br />

<% @recipes.each { |recipe| %>
<div class="card result-card" style="max-width: 24rem;">
  <div class="card-header"><%= recipe.name %></div>
  <div class="card-body">
    <p class="card-text"><%= recipe.ingredients %>
    <% } %></p>
  </div>
</div>

