<h1> Results here! </h1>

<br />

<% @results.each { |result| %>
<div class="display-box w-50 col-10 offset-1">
   <%=  result[:name] %>
   <%= image_tag( result[:image], size: "160x100", alt: result[:title] ) %>
</div><br />
 <% } %>
