<h1> Similar Recipes </h1>

<br />


<% @results.each { |result| %>
<div class="card result-card" style="max-width: 18rem;">
<div class="card-body">
    <p class="card-text"><%=  result[:title] %></p>
  </div>
</div><br />
 <% } %>


