<h1> Results here! </h1>

<br />

<% @results[:videos].each { |result| %>
<div class="display-box w-50 col-10 offset-1">
   <%=  result[:title] %>

   <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= result[:youTubeId] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div><br />
 <% } %>

<%# Possible card for video results
 <div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Primary card title</h5>
    <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
  </div> %>
