<h1> Results here! </h1>

<br />

<div class="card result-card" style="width: 24rem;">
  <div class="card-header">
       <%=  @results[:pairingText] %>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><% @results[:pairedWines].each { |wine| %>
      <%=  wine %>
    <% } %></p>
    </blockquote>
  </div>
</div>
