<h1> Results here! </h1>

<br />

<div class="card-group">
  <% @results.each { |result| %>
  <div class="card result-card" style="width: 18rem;">

    <img class="card-img-top" src=<%= result[:image] %>  alt=<%= result[:title] %> >
    <div class="card-body">
      <p class="card-text"><%=  result[:name] %><br /><%= link_to 'Recipe Link', result[:link] %></p>
    </div>

  </div>

 <% } %>
</div>
