<h1> Results here! </h1>

<br />

<div class="card result-card" style="max-width: 18rem;">
  <div class="card-header">Calorie Count</div>
      <div class="card-body">
          <p class="card-title">
        <%= "There are " + @results[:calories][:value].to_s + " " + @results[:calories][:unit].to_s %></p>
      </div>
  </div>
 </div>

