<h1> Results here! </h1>

<br />

<% @results[:meals].each { |result| %>
<div class="display-box w-50 col-10 offset-1">
   <%=  result[:title] %>
</div><br />
 <% } %>

 <div class="display-box w-50 col-10 offset-1">
   <%=  @results[:nutrients][:calories] %>
   <%=  @results[:nutrients][:protein] %>
 </div>

