<h1> Results here! </h1>

<% @results[:videos].each { |result| %>
<div>
   <%=  result[:title] %>
   <%=  result[:youTubeId] %>
   <%#= video_tag( result[:youTubeId], alt: result[:title] ) %>
    <%=  result[:rating] %>
     <%=  result[:thumbnail] %>
</div><br />
 <% } %>
