<h1> Results here! </h1>

<br />

<% @results[:meals].each { |result| %>
<div class="card result-card" style="width: 22rem;">
  <div class="card-body">
        <p class="card-text">
    <%=  result[:title] %></p>
  </div>
</div>
 <% } %>

 <div class="card result-card" style="width: 22rem;">
   <%=  "There are   " + @results[:nutrients][:calories].to_s + "   calories in the recipes above   " %>
   <%= "and   " + @results[:nutrients][:protein].to_s + "   g of protein" %>
 </div>



