<h1> Results here! </h1>

<br />

<div>
<% @results.each { |result| %>
   <%=  result[:title] %>
</div><br />
 <% } %>

 <%# image not avail in endpint %>

<div class="card border-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body text-secondary">
    <h5 class="card-title">Secondary card title</h5>
    <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
  </div>

<%# Card groups
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This content is a little longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div> %>
