<html>
  <body>

    <div class="contact-me">
      <h3 id="hire-me" class="contact-headline">Contact</h3>
      <p class="contact-info">
            Currently seeking new opportunities.
            Please get in touch via email:
          </p>

          <p>
            <a href="mailto:megankyoung@live.com" class="contact-link">
              megankyoung@live.com
            </a>
          </p>
    </div>

  </body>
</html>
