<h1>Home#index</h1>
<p>Welcome to CDC-Data</p>

<p> How to use this site: </p>

<p> The purpose of this site is to search and compare Center for Diseas Control data with information from the US Census for population level vital statistics.</p>

<p> Search CDC WONDER data for county level vital statistics</p>

<p> Search Census for corresponding population data</p>
